body {
  font-family: Arial, sans-serif;
  padding: 20px;
  background: #f8f8f8;
}

h1 {
  text-align: center;
}

.card {
  background: white;
  padding: 10px;
  margin: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.card:hover {
  transform: scale(1.02);
}

header {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  margin-bottom: 20px;
}

.filters {
  display: flex;
  gap: 10px;
}

#book-form {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
#book-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 15px;
}

.filters button.active {
  background: black;
  color: white;
  font-weight: bold;
}

.card input,
.card select {
  display: block;
  margin-bottom: 8px;
  width: 100%;
}

.rating-stars span {
  cursor: pointer;
  font-size: 24px;
  margin-right: 2px;
}

.rating-stars span:hover {
  transform: scale(1.3);
  color: gold;
}

.card button {
  margin-right: 5px;
  margin-top: 5px;
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  background-color: #ddd;
  cursor: pointer;
  transition: background 0.2s;
}

.card button:hover {
  background-color: #bbb;
}

.card h3,
.card p {
  margin: 5px 0;
}

.pagination {
  display: flex;
  gap: 8px;
  justify-content: center;
  margin-top: 20px;
  flex-wrap: wrap;
}

.pagination button {
  padding: 6px 10px;
  border-radius: 6px;
  border: none;
  background: #ddd;
  cursor: pointer;
}

.pagination button:hover {
  background: #bbb;
}

.pagination button.active {
  background: black;
  color: white;
  font-weight: bold;
}

.pagination button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
