body {
  font-family: Arial, sans-serif;
  padding: 20px;
  background: #f8f8f8;
}

h1 {
  text-align: center;
}

.card {
  background: white;
  padding: 10px;
  margin: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.card:hover {
  transform: scale(1.02);
}

header {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  margin-bottom: 20px;
}

.filters {
  display: flex;
  gap: 10px;
}

#book-form {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
/* #book-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 15px;
} */
.filters button.active {
  background: black;
  color: white;
  font-weight: bold;
}
